<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD 
 Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace实际上接口的名字 -->
<mapper namespace="mapper.ReporterMapper">
	<select id="loginInReporter" resultType="Reporter">
		select * from reporter
	</select>
	<select id="getReporterByName" resultType="Reporter">
		select * from reporter
			where reporterName=#{reporterName}
	</select>
	<insert id="insertReporter" parameterType="Reporter">
		insert into
		reporter
		values (
		#{reporterID},#{reporterName},#{reporterPassword})
	</insert>
	<delete id="deleteReporter">
		delete from reporter where
		reporterName=#{reporterName}
	</delete>
</mapper>
