<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 在映射文件件中可以直接使用Course表示entity.Course -->
	<typeAliases>
		<typeAlias type="entity.User" alias="User" />
		<typeAlias type="entity.Reporter" alias="Reporter" />
		<typeAlias type="entity.Admin" alias="Admin" />
		<typeAlias type="entity.OneLevel" alias="OneLevel" />
		<typeAlias type="entity.TwoLevel" alias="TwoLevel" />
		<typeAlias type="entity.Content" alias="Content" />
		<typeAlias type="entity.Media" alias="Media" />
		<typeAlias type="entity.Questionnaire" alias="Questionnaire" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/ReporterMapper.xml" />
		<mapper resource="mapper/AdminMapper.xml" />
		<mapper resource="mapper/OneLevelMapper.xml" />
		<mapper resource="mapper/TwoLevelMapper.xml" />
		<mapper resource="mapper/ContentMapper.xml" />
		<mapper resource="mapper/MediaMapper.xml" />
		<mapper resource="mapper/QuestionnaireMapper.xml" />
	</mappers>
</configuration>